[package]
name = "bevy_enhanced_input"
version = "0.1.0"
authors = ["Hennadii Chernyshchyk <genaloner@gmail.com>"]
edition = "2021"
description = "Dynamic and contextual input mappings for Bevy "
readme = "README.md"
repository = "https://github.com/projectharmonia/bevy_enhanced_input"
keywords = ["bevy", "input"]
categories = ["game-development"]
license = "MIT OR Apache-2.0"
include = ["/src", "/tests", "/LICENSE*"]

[dependencies]
bevy = { version = "0.14", default-features = false, features = ["serialize"] }
bevy_egui = { version = "0.30", default-features = false, features = [
  "immutable_ctx", # Require to get read-only access in our exclusive system.
], optional = true }
serde = "1.0"
bitflags = { version = "2.6", features = ["serde"] }
interpolation = "0.3"

[dev-dependencies]
bevy = { version = "0.14", default-features = false, features = [
  "bevy_gilrs",
  "x11",
] }

[features]
default = ["ui_priority"]

# Prioritizes 'bevy_ui' actions when processing inputs.
ui_priority = ['bevy/bevy_ui']

# Prioritizes 'egui' over actions when processing inputs.
egui_priority = ['dep:bevy_egui']
