[licenses]
allow = [
  "Apache-2.0 WITH LLVM-exception",
  "Apache-2.0",
  "BSD-2-Clause",
  "BSD-3-Clause",
  "CC0-1.0",
  "ISC",
  "MIT-0",
  "MIT",
  "NCSA",
  "Unicode-3.0",
  "Zlib",
]

[bans]
skip-tree = ["bevy"]

[advisories]
version = 2
ignore = ["RUSTSEC-2024-0436"]
